@model IndexViewModel

@{
    ViewData["Title"] = "Producto";

    string ConvertirImagenABase64(byte[] imagenBytes)
    {
        return imagenBytes != null ? $"data:image/jpeg;base64,{Convert.ToBase64String(imagenBytes)}" : null;
    }
}

<div class="container PaginaProducto">
    <div class="ProductoElegido ColorFondoSecundario">
        <img src="@ConvertirImagenABase64(Model.ProductoActual.Imagen)" class="img-fluid" alt="FotoMuestra">
        <br />
        <div class="ContenedorCompra">
            <h1>@Model.ProductoActual.Precio.ToString("F2") €</h1>
            <button class="btn BotonComprar">Comprar</button>
        </div>
        <hr>
        <h2>@Model.ProductoActual.Titulo</h2>
        <br />
        <div>
            <p>@Model.ProductoActual.Descripcion</p>
        </div>
        <br />
        <div>
            @if (Model.EtiquetaAnuncioVM?.EtiquetaAnuncios != null && Model.EtiquetaAnuncioVM.EtiquetaAnuncios.Any())
            {
                @foreach (Etiqueta e in Model.EtiquetaAnuncioVM.EtiquetaAnuncios)
                {
                    <button class="BotonFiltro2">@e.DescripcionEtiqueta</button>
                }
            }
        </div>

    </div>
    <br />
    <br />
    <div class="ProductosSimilares">
        <div class="row">
            <h2 class="text-start">Productos relacionados</h2>
            <hr />
            @if (Model.EtiquetaAnuncioVM?.ArticulosFiltrados != null && Model.EtiquetaAnuncioVM.ArticulosFiltrados.Any())
            {
                @foreach (Anuncio an in Model.EtiquetaAnuncioVM.ArticulosFiltrados.Where(p => p.IdAnuncio != Model.ProductoActual.IdAnuncio))
                {
                    <div class="col-md-6 col-sm-12 col-12 mb-2">
                        <a href="@Url.Action("Producto", "Home", new { id = an.IdAnuncio })" class="text-decoration-none">
                            <div class="VerdePrincipal RecuadroProducto">
                                <div><img src="@ConvertirImagenABase64(an.Imagen)" width="80%" height="80%" alt="@an.Titulo" /></div>
                                <div>@an.Titulo</div>
                                <div>@an.Precio.ToString("F2") €</div>
                            </div>
                        </a>
                    </div>
                }
            }
            else
            {
                <p>No se encontraron productos relacionados.</p>
            }
        </div>
    </div>
</div>
