@model Usuario

<div class="user-profile">
    <div class="profile-header">
        @if (Model.FotoPerfil != null && Model.FotoPerfil.Length > 0)
        {
            var base64Image = Convert.ToBase64String(Model.FotoPerfil);
            var imageSrc = string.Format("data:image/png;base64,{0}", base64Image);
            <img src="@imageSrc" alt="" class="profile-picture" />
        }
        <div class="profile-info">
            <h2>@Model.NombreUsuario</h2>
            <div class="form-group">
                <label class="profile-label" style="font-weight:bold;" for="email">Email:</label>
                <span id="email" class="form-control-static">@Model.Email</span>
            </div>
            <div class="form-group">
                <label class="profile-label" style="font-weight:bold;" for="telefono">Teléfono:</label>
                <span id="telefono" class="form-control-static">@Model.Telefono</span>
            </div>
            <div class="form-group">
                <label class="profile-label" style="font-weight:bold;" for="municipio">Municipio:</label>
                <span id="municipio" class="form-control-static">@Model.Municipio</span>
            </div>
            <button onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-primary">Volver </button>
        </div>
    </div>
</div>
